<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S7CYNHKMGE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S7CYNHKMGE');
</script>
<meta name="yandex-verification" content="2e26dfbacdec4254" />
<meta name="yandex-verification" content="4104bb42b4cd0094" />
<script type='text/javascript' src='//pl17027669.trustedcpmrevenue.com/7c/07/de/7c07dee142e2b7a04714351b71e67ea6.js'></script>
<script type='text/javascript' src='//pl17027680.trustedcpmrevenue.com/1f/c0/54/1fc054740579b20b371d4356c512a24f.js'></script>