<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1Q9EKJE93Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1Q9EKJE93Y');
</script>
<script type='text/javascript' src='//pl17027674.trustedcpmrevenue.com/f7/62/92/f762925bfc544e1354f9437a44fb5e7d.js'></script>
<script type='text/javascript' src='//pl17027689.trustedcpmrevenue.com/78/6c/03/786c0301ee1d1f543c6dd89c3055609d.js'></script>
<meta name="yandex-verification" content="2a5b345ff9949753" />
<meta name="yandex-verification" content="38755cf0264a493c" />